:root {
  --black: #313131;
  --medium-black: #414141;
  --light-black: #525252;
  --red: #ca3e47;
  --gray: #a2a2a2;
  --white: #f8f8f8;
  --result-color: #f8f8f8;
  --result-border: 1px solid #f8f8f8;
  --result-background: transparent;
  --result-disabled-color: #a2a2a2;
  --result-disabled-opacity: 0.5;
  --result-radio-size: 70%;
  --result-transform: translate(-50%, -50%);
  --result-top: 50%;
  --result-bottom: unset;
  --result-border-radius: 5%;
  --result-checkmark-color: #313131;
  --result-checkmark-thick: 3px;
  --result-checkmark-color: #313131;
  --result-checkmark-background: transparent;
  --result-checkmark-transform: translate(-50%, -50%) rotate(45deg);
  --result-checkmark-height: 50%;
  --result-checkmark-width: 30%;
}

.custom-input-base .radio-container,
.card-base .radio-container,
.main .style-section .radio-option .card-container .card .radio-container,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container,
.main .customize-section .editor ul li .edit-tab .radio-container,
.custom-input-base .checkbox-container,
.card-base .checkbox-container,
.main .style-section .radio-option .card-container .card .checkbox-container,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container,
.main .customize-section .editor ul li .edit-tab .checkbox-container {
  position: relative;
  padding-left: 50px;
  height: 40px;
  font-size: 1.375rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem 0;
  color: var(--white);
}

.custom-input-base .radio-container input,
.card-base .radio-container input,
.main .style-section .radio-option .card-container .card .radio-container input,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input,
.main .customize-section .editor ul li .edit-tab .radio-container input,
.custom-input-base .checkbox-container input,
.card-base .checkbox-container input,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  input,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input,
.main .customize-section .editor ul li .edit-tab .checkbox-container input {
  opacity: 0;
}

.custom-input-base .radio-container .fake-radio,
.card-base .radio-container .fake-radio,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  .fake-radio,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .fake-radio,
.main .customize-section .editor ul li .edit-tab .radio-container .fake-radio,
.custom-input-base .radio-container .checkmark,
.card-base .radio-container .checkmark,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  .checkmark,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .checkmark,
.main .customize-section .editor ul li .edit-tab .radio-container .checkmark,
.custom-input-base .checkbox-container .fake-radio,
.card-base .checkbox-container .fake-radio,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  .fake-radio,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .fake-radio,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  .fake-radio,
.custom-input-base .checkbox-container .checkmark,
.card-base .checkbox-container .checkmark,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  .checkmark,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .checkmark,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  .checkmark {
  position: absolute;
  left: 0;
  top: -1px;
  height: 100%;
  width: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.custom-input-base .radio-container .fake-radio::before,
.card-base .radio-container .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  .fake-radio::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .fake-radio::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .radio-container
  .fake-radio::before,
.custom-input-base .checkbox-container .fake-radio::before,
.card-base .checkbox-container .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  .fake-radio::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .fake-radio::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  .fake-radio::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: unset;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  background-color: var(--white);
  border-radius: 50%;
  transition: all 150ms ease;
  opacity: 0;
}

.custom-input-base .radio-container input:checked ~ .fake-radio::before,
.card-base .radio-container input:checked ~ .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  input:checked
  ~ .fake-radio::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input:checked
  ~ .fake-radio::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .radio-container
  input:checked
  ~ .fake-radio::before,
.custom-input-base .checkbox-container input:checked ~ .fake-radio::before,
.card-base .checkbox-container input:checked ~ .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  input:checked
  ~ .fake-radio::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input:checked
  ~ .fake-radio::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  input:checked
  ~ .fake-radio::before {
  height: 70%;
  width: 70%;
  opacity: 1;
}

.custom-input-base .radio-container input:disabled ~ .fake-radio::before,
.card-base .radio-container input:disabled ~ .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  input:disabled
  ~ .fake-radio::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input:disabled
  ~ .fake-radio::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .radio-container
  input:disabled
  ~ .fake-radio::before,
.custom-input-base .checkbox-container input:disabled ~ .fake-radio::before,
.card-base .checkbox-container input:disabled ~ .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  input:disabled
  ~ .fake-radio::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input:disabled
  ~ .fake-radio::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  input:disabled
  ~ .fake-radio::before {
  background-color: grey;
  opacity: 0.7;
}

.custom-input-base .radio-container input:disabled ~ .fake-radio,
.card-base .radio-container input:disabled ~ .fake-radio,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  input:disabled
  ~ .fake-radio,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input:disabled
  ~ .fake-radio,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .radio-container
  input:disabled
  ~ .fake-radio,
.custom-input-base .checkbox-container input:disabled ~ .fake-radio,
.card-base .checkbox-container input:disabled ~ .fake-radio,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  input:disabled
  ~ .fake-radio,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input:disabled
  ~ .fake-radio,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  input:disabled
  ~ .fake-radio {
  opacity: 0.7;
}

.custom-input-base .radio-container .checkmark,
.card-base .radio-container .checkmark,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  .checkmark,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .checkmark,
.main .customize-section .editor ul li .edit-tab .radio-container .checkmark,
.custom-input-base .checkbox-container .checkmark,
.card-base .checkbox-container .checkmark,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  .checkmark,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .checkmark,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  .checkmark {
  border-radius: 2px;
  background-color: var(--white);
}

.custom-input-base .radio-container .checkmark::before,
.card-base .radio-container .checkmark::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  .checkmark::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .checkmark::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .radio-container
  .checkmark::before,
.custom-input-base .checkbox-container .checkmark::before,
.card-base .checkbox-container .checkmark::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  .checkmark::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .checkmark::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  .checkmark::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-style: solid;
  border-color: var(--medium-black);
  border-width: 0px 3px 3px 0px;
  opacity: 0;
  height: 0;
  width: 0;
  background: transparent;
  transition: height 150ms ease, width 150ms ease;
}

.custom-input-base .radio-container input:checked ~ .checkmark::before,
.card-base .radio-container input:checked ~ .checkmark::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .radio-container
  input:checked
  ~ .checkmark::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input:checked
  ~ .checkmark::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .radio-container
  input:checked
  ~ .checkmark::before,
.custom-input-base .checkbox-container input:checked ~ .checkmark::before,
.card-base .checkbox-container input:checked ~ .checkmark::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .checkbox-container
  input:checked
  ~ .checkmark::before,
.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input:checked
  ~ .checkmark::before,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  input:checked
  ~ .checkmark::before {
  height: 50%;
  width: 30%;
  opacity: 1;
}

.card-base,
.main .style-section .radio-option .card-container .card,
.main .customize-section .result-section .result-container .result-card {
  background-color: var(--light-black);
  max-width: 300px;
  min-height: 250px;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 250ms ease;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--white);
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 2rem 5rem;
}

.nav {
  width: 100%;
  height: 2rem;
}

.nav .nav-list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav .nav-list li {
  list-style: none;
  margin-left: 4rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav .nav-list li a {
  text-decoration: none;
  color: var(--black);
}

.main section {
  margin-top: 15rem;
}

.main section:first-child {
  margin-top: 1rem;
}

.main .main-text h1 {
  font-size: 2.75rem;
  color: var(--black);
  position: relative;
}

.main .main-text h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 150px;
  background-color: var(--black);
}

.main .main-text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black);
}

.main .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main .home .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main .home .icon {
  margin-top: 3rem;
}

.main .style-section {
  padding-top: 4rem;
}

.main .style-section .radio-option {
  margin-top: 5rem;
}

.main .style-section .radio-option .title {
  margin-bottom: 3rem;
  font-size: 2.375rem;
}

.main .style-section .radio-option .card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}

.main .style-section .radio-option .card-container .card {
  cursor: pointer;
  border: 5px solid transparent;
}

.main .style-section .radio-option .card-container .card:hover:not(.selected) {
  transform: translateY(-20px);
}

.main .style-section .radio-option .card-container .card.selected {
  transform: translateY(-20px);
  border: 5px solid var(--red);
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.radio2
  .fake-radio,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.radio2
  .fake-radio {
  border: none;
  background-color: var(--red);
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.radio2
  input:checked
  ~ .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.radio2
  input:checked
  ~ .fake-radio::before {
  width: 40%;
  height: 40%;
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.radio3
  .fake-radio,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.radio3
  .fake-radio {
  border: none;
  background-color: var(--white);
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.radio3
  .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.radio3
  .fake-radio::before {
  background-color: var(--red);
  bottom: 0px;
  transform: translate(-50%, 0);
  top: unset;
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.radio3
  input:checked
  ~ .fake-radio::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.radio3
  input:checked
  ~ .fake-radio::before {
  width: 80%;
  height: 80%;
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.checkbox2
  .checkmark,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.checkbox2
  .checkmark {
  border-radius: 50%;
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.checkbox3
  .checkmark::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.checkbox3
  .checkmark::before {
  top: 50%;
  background-color: var(--medium-black);
  transform: translate(-50%, -50%) rotate(0);
  border: none;
  border-radius: 0px;
}

.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .radio-container.checkbox3
  input:checked
  ~ .checkmark::before,
.main
  .style-section
  .radio-option
  .card-container
  .card
  .input-section
  .checkbox-container.checkbox3
  input:checked
  ~ .checkmark::before {
  width: 70%;
  height: 70%;
}

.main .style-section .radio-option .card-container .card .text-section {
  height: 30%;
}

.main .style-section .radio-option .card-container .card .text-section h4 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
}

.main .style-section .radio-option .card-container .card .text-section p {
  color: var(--white);
  font-size: 0.85rem;
}

.main .customize-section {
  position: relative;
}

.main .customize-section .result-section {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.main .customize-section .result-section .result-container {
  position: sticky;
  top: 2rem;
  max-width: 400px;
  max-height: 400px;
}

.main .customize-section .result-section .result-container .result-card {
  display: flex;
  background-color: transparent;
  border: 2px solid var(--black);
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container {
  height: 30px;
  font-size: 1rem;
  padding-left: 40px;
  color: black;
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .fake-radio {
  width: 30px;
  background-color: var(--result-background);
  border: var(--result-border);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  .fake-radio::before {
  background-color: var(--result-color);
  height: var(--result-radio-size) !important;
  width: var(--result-radio-size) !important;
  transform: var(--result-transform);
  top: var(--result-top);
  bottom: var(--result-bottom);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input:disabled
  ~ .fake-radio {
  opacity: var(--result-disabled-opacity);
  background-color: var(--result-background);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .radio-container
  input:disabled
  ~ .fake-radio::before {
  background-color: var(--result-color);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container {
  height: 30px;
  font-size: 1rem;
  padding-left: 40px;
  color: black;
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .checkmark {
  width: 30px;
  background-color: var(--result-background);
  border: var(--result-border);
  border-radius: var(--result-border-radius);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  .checkmark::before {
  border-width: 0px var(--result-checkmark-thick) var(--result-checkmark-thick)
    0px;
  background-color: var(--result-checkmark-background);
  border-color: var(--result-checkmark-color);
  transform: var(--result-checkmark-transform);
  top: var(--result-top);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input:disabled
  ~ .checkmark {
  opacity: var(--result-disabled-opacity);
  background-color: var(--result-background);
}

.main
  .customize-section
  .result-section
  .result-container
  .result-card
  .checkbox-container
  input:checked
  ~ .checkmark::before {
  height: var(--result-checkmark-height);
  width: var(--result-checkmark-width);
}

.main .customize-section .result-section .result-container .to-code-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.main .customize-section .result-section .result-container .to-code-action p {
  font-size: 1.2rem;
  font-weight: 500;
}

.main
  .customize-section
  .result-section
  .result-container
  .to-code-action
  .icon {
  height: 50px;
  width: 50px;
}

.main
  .customize-section
  .result-section
  .result-container
  .to-code-action
  .icon
  svg {
  height: 100%;
  width: 100%;
}

.main .customize-section .editor ul {
  min-width: 350px;
  border-radius: 20px;
  overflow: hidden;
}

.main .customize-section .editor ul li {
  list-style: none;
  border-bottom: 1px solid var(--light-black);
  width: 100%;
}

.main .customize-section .editor ul li.hide {
  display: none;
}

.main .customize-section .editor ul li.show .edit-tab {
  max-height: 500px;
  height: auto;
  padding: 2rem;
  padding-left: 4rem;
}

.main .customize-section .editor ul li.show .edit-title .arrow {
  transform: rotate(225deg);
}

.main .customize-section .editor ul li .edit-title {
  background-color: var(--medium-black);
  color: var(--white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.main .customize-section .editor ul li .edit-title .arrow {
  height: 15px;
  width: 15px;
  border-color: var(--white);
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  transform-origin: center center;
  transform: rotate(45deg);
  transition: transform 250ms ease;
}

.main .customize-section .editor ul li .edit-tab {
  background-color: var(--light-black);
  max-height: 0px;
  height: 0px;
  overflow: hidden;
}

.main .customize-section .editor ul li .edit-tab .checkbox-container {
  height: 20px;
  font-size: 1rem;
  padding-left: 25px;
  margin-bottom: 1rem;
}

.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .checkbox-container
  .checkmark {
  width: 20px;
  background-color: var(--gray);
  border: var(--gray);
}

.main .customize-section .editor ul li .edit-tab .input-tab {
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main .customize-section .editor ul li .edit-tab .input-tab input {
  max-width: 150px;
  width: 120px;
  height: 100%;
}

.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .input-tab
  input[type="color"] {
  border: 4px solid var(--gray);
  margin-right: 1rem;
  width: 100px;
}

.main .customize-section .editor ul li .edit-tab .input-tab input[type="text"] {
  padding: 0 1rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  background-color: var(--gray);
}

.main .customize-section .editor ul li .edit-tab p {
  color: var(--white);
}

.main .customize-section .editor ul li .edit-tab .range-input {
  width: 100%;
  margin-top: 2rem;
}

.main .customize-section .editor ul li .edit-tab .range-input input {
  appearance: none;
  width: 100%;
  height: 5px;
  background: var(--white);
  outline: none;
}

.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .range-input
  input::-moz-range-thumb,
.main
  .customize-section
  .editor
  ul
  li
  .edit-tab
  .range-input
  input::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--white);
  border: none;
  cursor: pointer;
}

.main .customize-section .editor ul li .edit-tab .range-input .val-container {
  width: 100%;
  height: 2rem;
  position: relative;
}

.main .customize-section .editor ul li .edit-tab .range-input .val-container p {
  position: absolute;
  left: 50%;
  margin-top: 1rem;
  color: var(--white);
}

.main .customize-section .editor ul li .edit-tab .input {
  color: var(--white);
  margin-top: 1rem;
}

.main .customize-section .editor ul li .edit-tab .input P {
  color: var(--white);
}

.main .customize-section .editor ul li .edit-tab .input .input-size {
  max-width: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.main .customize-section .editor ul li .edit-tab .input .input-size input {
  background-color: var(--gray);
  border: none;
  color: var(--white);
  font-weight: 600;
  text-align: center;
}

.main .customize-section .editor ul li .edit-tab .input .input-size span {
  margin-left: 0.2rem;
}

.main .code-section .html-section,
.main .code-section .css-section {
  border-radius: 20px;
  margin-bottom: 5rem;
  overflow: hidden;
  width: 100%;
}

.main .code-section .html-section .title,
.main .code-section .css-section .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--medium-black);
  color: var(--white);
  align-items: center;
}

.main .code-section .html-section .title h2,
.main .code-section .css-section .title h2 {
  margin-left: 2rem;
}

.main .code-section .html-section .title button,
.main .code-section .css-section .title button {
  background-color: var(--gray);
  color: var(--white);
  padding: 2rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.main .code-section .html-section .code,
.main .code-section .css-section .code {
  width: 100%;
}

.main .code-section .html-section .code textarea,
.main .code-section .css-section .code textarea {
  width: 100%;
  resize: none;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  background-color: var(--light-black);
  color: var(--white);
  border: none;
}
